<!DOCTYPE html>
<html class="h-100">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>BT Search Magnetic Search Seed Search</title>
<!-- 自定义 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static',filename='static/css/index.css') }}">
<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static',filename='static/bootstrap/css/bootstrap.min.css') }}">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{{ url_for('static',filename='static/js/jquery-3.3.1.slim.min.js') }}"></script>
 <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="{{ url_for('static',filename='static/bootstrap/js/popper-1.14.3.min.js') }}"></script>
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="{{ url_for('static',filename='static/bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/"><h4>BTHello</h4> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/link">Link</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/xieh1995/bthello-app.git">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main" class="flex-shrink-0">
    <div class="jumbotron text-center">
      <h1>BTHello</h1>
      <h3>BT Search Magnetic Search Seed Search!</h3> 
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="m-auto"> 
            <form class="form-inline my-2 my-lg-0" action="/search">
              <input class="form-control mr-sm-2" type="search" name="value" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 subsearch" type="button">Search</button>
            </form>
          </div>
        </div>
      </div>
    </main>
<!-- <div class="text-center">
</div> -->

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Magnetic link, bt seed download, Thunder download related resources are automatically obtained by user search instructions, the results come from the network, the site does not store any information, and does not assume any responsibility, please delete within 24 hours!</span>
  </div>
</footer>
</body>
<script>
$(function(){
  $(".subsearch").on("click",function(){
    val = $("input[name='value']").val()
    window.location.href="/search/"+val+"-1.html"
  })
})
</script>
</html>