<!DOCTYPE html>
<html class="h-100">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{title}} - BTHi BT Search Magnetic Search Seed Search</title>
<!-- 自定义 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static',filename='static/css/index.css') }}">
<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="{{ url_for('static',filename='static/bootstrap/css/bootstrap.min.css') }}">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{{ url_for('static',filename='static/js/jquery-3.3.1.slim.min.js') }}"></script>
 <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="{{ url_for('static',filename='static/bootstrap/js/popper-1.14.3.min.js') }}"></script>
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="{{ url_for('static',filename='static/bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/"><h4>BTHi</h4> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/link">Link</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/xieh1995/bthello-app.git">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main" class="flex-shrink-0">
    <div class="container-fluid">
            {% for meta in metadataList %}
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <h4 class="mt-3"><a style="color:#000000" href="/search/details/{{meta._source.info_hash}}">{{meta._source.bare_name}}</a></h4>                   
                    {% for filelist in meta._source.file_list | eval %}
                      {% if loop.index0 > 1 %}
                          
                      {% else %}
                          <p class="lead">{{ filelist.n }}  {{ filelist.l }}</p>
                      {% endif %}
                    {% endfor %}
               <!-- <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>main &gt; .container</code>.</p> -->
                    <a href="#" class="badge badge-pill  badge-primary">{{meta._source.create_time}}</a>
                    <a href="#" class="badge badge-pill  badge-secondary">{{meta._source.file_size}}</a>
                    <a href="#" class="badge badge-pill  badge-success">{{meta._source.file_num}}</a>
                    <a href="#" class="badge badge-pill  badge-warning">{{meta._source.file_type}}</a>
                    <a href="#" class="badge badge-pill  badge-danger">{{meta._source.hot}}</a>
                    <a href="#" class="badge badge-pill  badge-info">Link</a>
                    <!-- <a href="#" class="badge badge-pill  badge-light">Light</a>
                    <a href="#" class="badge badge-pill  badge-dark">Dark</a> -->
                </div>
            </div>
            {% endfor %}

            <div class="row mt-5">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination">
                            <li class="page-item">
                            <a class="page-link page" href="/search/{{title}}/1" aria-label="Previous" page="1">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                            {% for p in count %}
                              <li class="page-item" ><a class="page-link page" href="/search/{{title}}/{{p}}" page="{{p}}">{{p}}</a></li>
                            {% endfor %}
                            <li class="page-item">
                            <a class="page-link page" href="/search/{{title}}/{{count | length}}" aria-label="Next" page="{{count | length}}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
       
    </div>
    
  </main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Magnetic link, bt seed download, Thunder download related resources are automatically obtained by user search instructions, the results come from the network, the site does not store any information, and does not assume any responsibility, please delete within 24 hours!</span>
  </div>
</footer>
</body>
<script>
$(function(){
  $(".page").on("click",function(){
    var val = url.split("-")[0]
    window.location.href=val+"-"+$(this).attr("page")+".html"
  })
  var url = window.location.pathname
  var page = url.split("/")[3]
  //page  = page.substring(0,page.indexOf(".html"))
  $(".page[page="+page+"]").parent().addClass("active ")
})
</script>
</html>